<!DOCTYPE html>
<html>
<head>
    <title>Backend</title>
        
</head>
<body>
    <h1 style="text-align:center;font-family:'Helvetica, sans-serif'; color: #ff9900;">Login</h1>
    <h3 style="text-align:center;font-family:'Helvetica, sans-serif'; color: #ff9900;"><%= flash[:errorMessage] %></h3>
    <div style="text-align:center;"><a href="/register">Register</a></div>
    <form action="/login" method="post" style="margin-top:20%;text-align:center;">
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Passwort">
        <input type="submit" value="">
    </form>
</body>
</html>